
.bulle-gauche {
  background: #e0f7fa;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem 0;
  max-width: 60%;
  position: relative;
}
.bulle-gauche::after {
  content: "";
  position: absolute;
  left: -15px;
  top: 15px;
  border-width: 15px 15px 15px 0;
  border-style: solid;
  border-color: transparent #e0f7fa transparent transparent;
}

.bulle-droite {
  background: #ffe0b2;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem 0;
  max-width: 60%;
  margin-left: auto; /* pousse la bulle à droite */
  position: relative;
}
.bulle-droite::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 15px;
  border-width: 15px 0 15px 15px;
  border-style: solid;
  border-color: transparent transparent transparent #ffe0b2;
}
